.productCard{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    text-align: center;
    transition: transform 0.5s;
}

.productCard:hover{
    transform: translateY(-8px);
}

.productCard img{
    width: 100%;
}

.productCard p{
    font-size: 14px;
}